@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    background-color: var(--primary-clr);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.7;
}

a{
    text-decoration: none;
}

:root{
    --primary-clr:#ffffff;
    --secondary-clr:#000000;
    --txt-clr:#383838;
}
/* Starts */
.wrapper {
    display: flex;
    padding:0 4rem;
    max-width: 1280px;
    margin: auto;
}

.Left_section {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: column;
    width: 50%;
    padding: 6rem 0;
    position:sticky;
    top: 0;
}

.Left_section div h1 {
    font-size: clamp(2.25rem, 1.1591rem + 3.0303vw, 4rem);
}

.Left_section div h5 {
    font-size: clamp(0.8rem, 0.0519rem + 2.0779vw, 2rem);
    margin: 10px 0px 0px 0px;
}

.Left_section div p {
    max-width: 30rem;
    margin: 20px 0px 0px 0px;
    font-size: clamp(0.875rem, 0.7971rem + 0.2165vw, 1rem);
    color: var(--txt-clr);
}

.nav_items{
    padding:50px 0px;
}

.nav_items .nav_lists{
    list-style: none;
    margin: 0px 0px 10px 0px;
}

.nav_items .nav_lists .nav_items{
    display: inline-block;
    padding: 7px 10px 7px 0px;
    position:relative;
}

.nav_items .nav_lists .nav_items::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(50%,-50%);
    width:50px;
    height: 3px;
    background-color: tomato;
    border-radius: 6px;
    transition: transform 0.5s ease;
}

/* .nav_items .nav_lists .nav_items.nav_items_active::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(50%,-50%);
    width:50px;
    height: 3px;
    background-color: tomato;
    border-radius: 6px;
    transition: transform 0.5s ease;
} */

.nav_items .nav_lists .nav_items:hover::before{
    transform: translate(0,-50%);
}

.Right_section {
    width: 50%;
    padding: 6rem 0;
}
.Right_section .About_section p{
    font-size: clamp(0.875rem, 0.7971rem + 0.2165vw, 1rem);
    padding: 0px 0px 20px 0px;
    color: var(--txt-clr);
    line-height: 24px;
}
.Experience_section{
    padding: 6rem 0;
}
/* Ends */