@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    background-color: var(--primary-clr);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.7;
}

a{
    text-decoration: none;
}

:root{
    --primary-clr:#ffffff;
    --secondary-clr:#000000;
    --txt-clr:#383838;
}
/* Starts */
.wrapper {
    display: flex;
    padding:0 4rem;
    max-width: 1280px;
    margin: auto;
}

.Left_section {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: column;
    width: 50%;
    padding: 6rem 0;
    position:sticky;
    top: 0;
}

.Left_section div h1 {
    font-size: clamp(2.25rem, 1.1591rem + 3.0303vw, 4rem);
}

.Left_section div h5 {
    font-size: clamp(0.8rem, 0.0519rem + 2.0779vw, 2rem);
    margin: 10px 0px 0px 0px;
}

.Left_section div p {
    max-width: 30rem;
    margin: 20px 0px 0px 0px;
    font-size: clamp(0.875rem, 0.7971rem + 0.2165vw, 1rem);
    color: var(--txt-clr);
}

.nav_items{
    padding:50px 0px;
}

.nav_items .nav_lists{
    list-style: none;
    margin: 0px 0px 10px 0px;
}

.nav_items .nav_lists .nav_items{
    display: inline-block;
    padding: 7px 10px 7px 0px;
    position:relative;
    color: var(--txt-clr);
    transition:font-weight 0.3s ease;
}
.nav_items .nav_lists .nav_items:hover{
    font-weight: bold;
}
.nav_items .nav_lists .nav_items.nav_items_active{
    font-weight: bold;
}

.nav_items .nav_lists .nav_items.nav_items_active::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    width:30px;
    height: 3px;
    background-color: tomato;
    border-radius: 6px;
    transition: transform 0.5s ease;
}

/* .nav_items .nav_lists .nav_items:hover::before{
    transform: translate(100%,-50%);
}

.nav_items .nav_lists .nav_items.nav_items_active::before{
    left: 100%;
} */

.social_links {
    width:100%;
}

.social_links ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:30px;
}

.social_links ul li{
    list-style: none;
}

.social_links ul li a img{
    width:22px;
}

.Right_section {
    width: 50%;
    padding: 6rem 0;
}
.Right_section .About_section p{
    font-size: clamp(0.875rem, 0.7971rem + 0.2165vw, 1rem);
    padding: 0px 0px 20px 0px;
    color: var(--txt-clr);
    line-height: 24px;
}
.Experience_section{
    padding: 6rem 0;
}
.Experience_details h3{
    font-size: clamp(0.875rem, 0.6412rem + 0.6494vw, 1.25rem);
}
.Experience_details span{
    font-size: clamp(0.625rem, 0.5471rem + 0.2165vw, 0.75rem);
    color: var(--txt-clr);
}
.Experience_details .short_description{
    font-size: clamp(0.875rem, 0.7971rem + 0.2165vw, 1rem);
    color: var(--txt-clr);
    line-height: 24px;
    padding: 0.5rem 0;
}
.Experience_details ul {
    margin-top:10px;
}
.Experience_details ul li{
    padding: 0 0 0.5rem 0;
}
.Experience_details ul li p{
    color: var(--txt-clr);
    line-height: 24px;
    font-size: clamp(0.875rem, 0.7971rem + 0.2165vw, 1rem);
}
.Experience_details .resume a{
    display: inline-block;
    font-size: clamp(0.75rem, 0.6721rem + 0.2165vw, 0.875rem);
    background-color: var(--secondary-clr);
    color:var(--primary-clr);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius:4px;
    margin-top: 20px;
    transition:opacity 0.3s ease;
}
.Experience_details .resume a:hover{
    opacity:0.7;
}
.Project_section{
    padding: 6rem 0;
}
.project_links{
    display: inline-block;
    margin: 1rem 0;
    padding: 0.7rem 0.7rem;
    border-radius: 4px;
}
.project_links:hover{
    background-color: #00000010;
}
.Project_one{
    display: flex;
    align-items: flex-start;
    gap:20px;
}
.Project_one img{
    width:200px;
    object-fit: contain;
}
.Project_one div h5{
    font-size: clamp(0.8125rem, 0.6956rem + 0.3247vw, 1rem);
    color: var(--txt-clr);
    padding: 0 0 0.5rem 0;
}
.Project_one div p{
    font-size: clamp(0.6875rem, 0.5706rem + 0.3247vw, 0.875rem);
    color: var(--txt-clr);
}
/* Ends */